html, body {
    margin: 0px;
    padding: 0%;
}

#map{
    width: 100%;
    height: 657px;
}
/* .leaflet-control-zoom{
    position: fixed;
    top: 1%;
    right: 2%;
    display: none;
} */

.leaflet-popup-content-wrapper {
    border-radius: 0%;
}

.leaflet-popup-close-button {
    color: red;
    margin: 3%;
    position: relative;
}
